*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/

bin/
obj/

*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

*.pubxml
*.publishproj
CustomPolicies/.vscode/settings.json
CustomPolicies/TrustFrameworkPolicy_0.3.0.0.xsd
Clients/WebClient/.vscode/
Clients/WebClientWithAad/.vscode/
