<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Set Password</title>
</head>
<body style="background-color: #f5f5f5; text-align: center;">
    <div style="display: inline-block;text-align: left;font-family: Verdana;">
        <header>
            <p>Please keep this email for your records.</p>
        </header>
        <div style="background-color: white; padding: 40px 40px 80px 40px;">
            <a href="#" style="text-decoration: none;">
                <img src="cid:logoImageId" alt="Company logo">
                <span style="color:#00717C;font-size:large; display: inline-block; position: relative; bottom: 5px;">My super website</span>
            </a>
            <hr />
            <div style="background-color: white; border: white; padding-bottom: 20px">
            </div>
            <p>Welcome, @userName.</p>
            <p>This "Set password" link can be used only once.</p>

            <a href="@resetUrl" style="display: inline-block;padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;touch-action: manipulation;cursor: pointer;text-transform: none;text-decoration:none;background-image: none;border: 1px solid transparent;color: #fff;background-color: #49C2E1;border-color: #49C2E1;margin-top: 5px;margin-bottom: 5px;">
                Set password
            </a>
        </div>
        <footer style="margin: 50px;">
            <div>Copyright &copy; 2022 - @currentYear my super company.</div>
            <div>All rights reserved | <a href="#">Privacy Statement</a></div>
        </footer>
    </div>
</body>
</html>