@using Auth.Web.UI.Config
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["ChangePasswordConfirmation"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "My Super company";
}

<div>
    <h1 class="page-title">@ViewBag.Title</h1>
    <br />
    <br />
    <p>
        @Html.Raw(string.Format(Localizer["YourPasswordHasBeenChange"].Value, HtmlContentExtend.GetString(Html.ActionLink(Localizer["ClickHereToLogIn"].Value, "Login", "Account", null, new { id = "loginLink" }))))
    </p>
</div>
