@using Auth.Web.UI.Config
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["CreatePasswordConfirmation"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "My Super Company";
}

<div>
    <h1 class="page-title">@ViewBag.Title</h1>
    <h1>@ViewBag.ClientAuthId</h1>
    <br />
    <br />
    <p>
        @Html.Raw(string.Format(Localizer["YourPasswordHasBeenCreated"].Value, HtmlContentExtend.GetString(Html.ActionLink(Localizer["Portal"].Value, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }))))
    </p>
</div>
