@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["ForgotPasswordConfirmation"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "My Super Company";
}

<div>
    <h1 class="page-title">@ViewBag.Title</h1>
    <br />
    <br />
    <p>
    @Localizer["PleaseCheckYourEmailToResetYourPassword"]
    </p>
</div>